.course-content ul.qmultopics {margin:0;}
.course-content ul.qmultopics li.section {list-style: none;margin:0 0 5px 0;padding:0;}
.course-content ul.qmultopics li.section .content {margin:0 40px;}
.course-content ul.qmultopics li.section .left,
.course-content ul.qmultopics li.section .right {width:40px;padding: 0 6px;}
.course-content ul.qmultopics li.section .right img.icon { padding: 0 0 4px 0;}
.course-content ul.qmultopics li.section .left {padding-top:22px;text-align: right;}
.jsenabled .course-content ul.qmultopics li.section .left,
.jsenabled .course-content ul.qmultopics li.section .right {width:auto;}
.course-content ul.qmultopics li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }
.course-content ul.qmultopics li.section .section_action_menu .textmenu,
.course-content ul.qmultopics li.section .section_action_menu .menu-action-text { white-space: nowrap; }

/* Tab Styles */
.course-content ul.qmultopics .tablink {
    cursor: pointer;
}

.course-content ul.qmultopics .assessment_info_block_content {
    padding-top: 16px;
}

.course-content ul.qmultopics #content_assessmentinformation_area {
    padding-top: 10px;
}

/* qmulctopics related CSS - actually belongs into theme CSS (but I don't know how...) */

.course-content ul.qmulctopics li.section.main .left, .course-content ul.qmulctopics li.section.main .right {
    /* Fix for Bootstrap V3 based themes in less/moodle/course.less . */
    display: block;
}

.course-content ul.qmulctopics li.section.main, .course-content ul.qmulctopics li.tcsection {
    list-style: none;
    margin: 4px 1px 1px 1px;
    padding: 0;
}

.course-content ul.qmulctopics.bsnewgrid li.section.main, .course-content ul.qmulctopics.bsnewgrid li.tcsection {
    margin: 0;
}

/* Fix for ordered and unordered list in course topic summary & course weekly summary - from theme/base/style/core.css
 * See: https://moodle.org/mod/forum/discuss.php?d=251944.
 */
.course-content ul.qmulctopics .content .summary ul, .course-content ul.qmulctopics .content .summarytext ul {
    list-style: disc outside none;
}
.course-content ul.qmulctopics .content .summary ol, .course-content ul.qmulctopics .content .summarytext ol {
    list-style: decimal outside none;
}

.course-content ul.qmulctopics li.section.main .content, .course-content ul.qmulctopics li.tcsection .content {
    /* Default for non tablets / mobiles.  If the language file has 'qmultcsidewidth' for the current language, then will be set in format.php. */
    margin: 0 40px;
    padding: 0;
}

.course-content ul.qmulctopics.ctportable li.section.main .content, .course-content ul.qmulctopics.ctportable li.tcsection .content {
    margin: 0 0; /* Override default for tablets / mobiles.  When have sides, set in format.php. */
}

.course-content ul.qmulctopics li .content .sectionhead h3 {
    margin: 0;
}

.course-content ul.qmulctopics li.current .content .toggledsection {
    padding: 0 0 5px 0;
}

.course-content ul.qmulctopics li.section.hidden .content > div {
    margin-left: 0;
    margin-right: 0;
}

/* Toggle icon size */
#toggle-all .content .sectionbody h4 span.tc-small, .course-content ul.qmulctopics li.section .content .toggle span.tc-small {
    background-size: 16px 16px;
}

#toggle-all .content .sectionbody h4 span.tc-medium, .course-content ul.qmulctopics li.section .content .toggle span.tc-medium {
    background-size: 24px 24px;
}
#toggle-all .content .sectionbody h4 span.tc-large, .course-content ul.qmulctopics li.section .content .toggle span.tc-large {
    background-size: 32px 32px;
}

/* -- Set the clickable element of the Toggle -- */
.course-content ul.qmulctopics li.section .content .toggle span.the_toggle {
    display: block;
    width: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.course-content ul.qmulctopics li.section .content .toggle span.the_toggle.tc-small {
    padding-left: 16px; /* The 16px allows the arrow to be with the text next to it. */
    padding-right: 16px;
}

.course-content ul.qmulctopics li.section .content .toggle span.the_toggle.tc-medium {
    padding-left: 24px; /* The 24px allows the arrow to be with the text next to it. */
    padding-right: 24px;
}

.course-content ul.qmulctopics li.section .content .toggle span.the_toggle.tc-large {
    padding-left: 32px; /* The 32px allows the arrow to be with the text next to it. */
    padding-right: 32px;
}

/* CONTRIB-4106 */
.course-content ul.qmulctopics li.section .content .toggle span.the_toggle h3,
.course-content ul.qmulctopics li.section .content.sectionhidden h3 {
    margin: 0;
    word-wrap: break-word;
}

.course-content ul.qmulctopics li.section .content .toggle span.the_toggle h3.sectionname,
.course-content ul.qmulctopics li.section .content.sectionhidden h3.sectionname {
    margin: 4px;
    color: inherit;
}

/* Icon set common. */
.course-content ul.qmulctopics li.section .content .toggle span.the_toggle, #toggle-all .content h4 span {
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0 4px;
}

/* Icon sets.  Note: Background images for the settings - does not work in Chrome or Safari - known issue. */
/* Arrow icon set. */
.course-content ul.qmulctopics li.section .content .toggle-arrow span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-arrow span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-arrow span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-arrow h4 span.off {
    background-image: url([[pix:format_qmultc|arrow_down]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-arrow span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-arrow h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="arrow"], body#page-course-edit select#id_toggleiconset option[value="arrow"] {
    background-image: url([[pix:format_qmultc|arrow_right]]);
}

/* Bulb icon set. */
.course-content ul.qmulctopics li.section .content .toggle-bulb span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-bulb span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-bulb span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-bulb h4 span.off {
    background-image: url([[pix:format_qmultc|bulb_on]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-bulb span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-bulb h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="bulb"], body#page-course-edit select#id_toggleiconset option[value="bulb"] {
    background-image: url([[pix:format_qmultc|bulb_off]]);
}

/* Cloud icon set. */
.course-content ul.qmulctopics li.section .content .toggle-cloud span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-cloud span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-cloud span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-cloud h4 span.off {
    background-image: url([[pix:format_qmultc|cloud_on]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-cloud span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-cloud h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="cloud"], body#page-course-edit select#id_toggleiconset option[value="cloud"] {
    background-image: url([[pix:format_qmultc|cloud_off]]);
}

/* Eye icon set. */
.course-content ul.qmulctopics li.section .content .toggle-eye span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-eye span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-eye span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-eye h4 span.off {
    background-image: url([[pix:format_qmultc|eye_show]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-eye span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-eye h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="eye"], body#page-course-edit select#id_toggleiconset option[value="eye"] {
    background-image: url([[pix:format_qmultc|eye_hide]]);
}

/* Ground signal set. */
.course-content ul.qmulctopics li.section .content .toggle-groundsignal span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-ground-signal span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-groundsignal span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-groundsignal h4 span.off,
#toggle-all .content .toggle-groundsignal-hover h4 span.on:hover {
    background-image: url([[pix:format_qmultc|ground_signal_on]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-groundsignal span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-groundsignal-hover h4 span.off:hover,
#toggle-all .content .toggle-groundsignal h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="groundsignal"], body#page-course-edit select#id_toggleiconset option[value="groundsignal"] {
    background-image: url([[pix:format_qmultc|ground_signal_off]]);
}

/* LED icon set. */
.course-content ul.qmulctopics li.section .content .toggle-led span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-led span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-led span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-led h4 span.off {
    background-image: url([[pix:format_qmultc|led_on]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-led span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-led h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="led"], body#page-course-edit select#id_toggleiconset option[value="led"] {
    background-image: url([[pix:format_qmultc|led_off]]);
}

/* Point icon set. */
.course-content ul.qmulctopics li.section .content .toggle-point span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-point span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-point span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-point h4 span.off {
    background-image: url([[pix:format_qmultc|point_down]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-point span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-point h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="point"], body#page-course-edit select#id_toggleiconset option[value="point"] {
    background-image: url([[pix:format_qmultc|point_right]]);
}

/* Power icon set. */
.course-content ul.qmulctopics li.section .content .toggle-power span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-power span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-power span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-power h4 span.off {
    background-image: url([[pix:format_qmultc|toggle_plus]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-power span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-power h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="power"], body#page-course-edit select#id_toggleiconset option[value="power"] {
    background-image: url([[pix:format_qmultc|toggle_minus]]);
}

/* Radio icon set. */
.course-content ul.qmulctopics li.section .content .toggle-radio span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-radio span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-radio span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-radio h4 span.off {
    background-image: url([[pix:format_qmultc|radio_on]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-radio span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-radio h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="radio"], body#page-course-edit select#id_toggleiconset option[value="radio"] {
    background-image: url([[pix:format_qmultc|radio_off]]);
}

/* Smiley icon set. */
.course-content ul.qmulctopics li.section .content .toggle-smiley span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-smiley span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-smiley span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-smiley h4 span.off {
    background-image: url([[pix:format_qmultc|smiley_on]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-smiley span.toggle_closed , /* JavaScript enabled */
#toggle-all .content .toggle-smiley h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="smiley"], body#page-course-edit select#id_toggleiconset option[value="smiley"] {
    background-image: url([[pix:format_qmultc|smiley_off]]);
}

/* Square icon set. */
.course-content ul.qmulctopics li.section .content .toggle-square span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-square span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-square span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-square h4 span.off {
    background-image: url([[pix:format_qmultc|square_on]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-square span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-square h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="square"], body#page-course-edit select#id_toggleiconset option[value="square"] {
    background-image: url([[pix:format_qmultc|square_off]]);
}

/* Sun / Moon icon set. */
.course-content ul.qmulctopics li.section .content .toggle-sunmoon span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-sunmoon span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-sunmoon span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-sunmoon h4 span.off {
    background-image: url([[pix:format_qmultc|sunmoon_on]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-sunmoon span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-sunmoon h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="sunmoon"], body#page-course-edit select#id_toggleiconset option[value="sunmoon"] {
    background-image: url([[pix:format_qmultc|sunmoon_off]]);
}

/* Switch icon set. */
.course-content ul.qmulctopics li.section .content .toggle-switch span.toggle_closed, .course-content ul.qmulctopics li.section .content .toggle-switch span.toggle_open, /* JavaScript disabled */
body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-switch span.toggle_open, /* JavaScript enabled */
#toggle-all .content .toggle-switch h4 span.off {
    background-image: url([[pix:format_qmultc|switch_on]]);
}

body.jsenabled .course-content ul.qmulctopics li.section .content .toggle-switch span.toggle_closed, /* JavaScript enabled */
#toggle-all .content .toggle-switch h4 span.on,
body#page-admin-setting-formatsettingqmultc select#id_s_format_qmultc_defaulttoggleiconset option[value="switch"], body#page-course-edit select#id_toggleiconset option[value="switch"] {
    background-image: url([[pix:format_qmultc|switch_off]]);
}

/* Layout */
.course-content ul.qmulctopics #section-0 .content{
    padding: 10px;
}

.course-content ul.qmulctopics li.section.main .side, .course-content ul.qmulctopics li.tcsection .side,
.editing .course-content ul.qmulctopics li.section.main .side, .editing .course-content ul.qmulctopics li.tcsection .side {
    width: 40px; /* Default used in editing mode or when not defined in the language file. */
    text-align: center;
    padding: 0;
}

.course-content ul.qmulctopics li.section .left, .course-content ul.qmulctopics li.tcsection .left {
    float:left;
}

.course-content ul.qmulctopics li.section.main .left {
    padding: 10px 0 0 0;
}

.course-content ul.qmulctopics li.current.main .right {
    padding: 0 0 0 0; /* Cancel out effect of above when having to use 'left' side selector for getting the correct text colour on the right for the current section.  This is because the selector '.course-content .current .left' defines the colour in the theme and therefore any CT specific 'right' implementation would not work for all themes. */
}

.course-content ul.qmulctopics li.section .right, .course-content ul.qmulctopics li.tcsection .right {
    float:right;
}

.course-content ul.qmulctopics li.section .right {
    line-height: 1.3;
}

.course-content ul.qmulctopics li.section .right a {
    display: block;  /* So that section_right_content() does not implode with 'br's and get too many when the up arrow is removed by JS. */
}

.course-content ul.qmulctopics li.section .right a img.hide{
    display: inline;  /* CONTRIB-5817 - Align the eye icon. */
}

.course-content ul.qmulctopics li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

/* Assist the layout. */
body.format-qmultc.dir-rtl .course-content ul.qmulctopics li.section .left {
    float: right;
}

body.format-qmultc.dir-rtl .course-content ul.qmulctopics li.section .right {
    float: left;
}

body.format-qmultc .qmulctopics .section .activity .mod-indent-outer,
body.format-qmultc.editing.dir-rtl .qmulctopics .section .activity .mod-indent-outer {
    padding-left: 0;
}

body.format-qmultc.editing .qmulctopics .section .activity .mod-indent-outer {
    padding-left: 32px;
}

body.format-qmultc.dir-rtl .qmulctopics .section .activity .mod-indent-outer {
    padding-right: 0;
}

body.format-qmultc.editing.dir-rtl .qmulctopics .section .activity .mod-indent-outer {
    padding-right: 32px;
}

body.format-qmultc .qmulctopics .section  {
    margin: 1em 0;
}

body.format-qmultc .course-content ul.qmulctopics li.section .summary {
    margin-left: 0;
}

body.format-qmultc.dir-rtl .course-content ul.qmulctopics li.section .summary {
    margin-right: 0;
}

body.format-qmultc .course-content ul.qmulctopics li.section .summary.summaryalwaysshown {
    padding-top: 10px;
}

body.format-qmultc.editing ul.qmulctopics .section .activity .actions {
    position: relative;
}

body.format-qmultc.editing #region-main ul.qmulctopics .moodle-actionmenu ul.menubar {
    display: none;
}

body.format-qmultc.editing.jsenabled #region-main ul.qmulctopics .moodle-actionmenu[data-enhance] ul.menubar {
    display: inline-block;
}

/* -- The section name in a Toggle and hidden section -- */
.course-content ul.qmulctopics li.section .content .toggle, .course-content ul.qmulctopics li.section .content.sectionhidden  {
    display: block;
    text-align: left;
    padding: 0 0;
}

/* -- The Toggle -- */
.course-content ul.qmulctopics li.section .content .toggle {
    cursor: pointer;
    width: 100%;
}

/* -- The padding of a hidden section -- */
.course-content ul.qmulctopics li.section .content.sectionhidden  {
    padding: 6px 0 6px 0;
}

/* -- The topic summary text -- */
.course-content ul.qmulctopics li.section .content .toggle span.the_toggle p {
    font-size: 1.2em;
    font-style: italic;
    text-align: left;
}

/* -- For centring the 'Topic / Week / Day x' text -- */
.course-content ul.qmulctopics li.section .right span.cps_centre, .dir-rtl .course-content ul.qmulctopics li.section .left span.cps_centre {
    text-align: center;
    font-size: 0.7em;
}

.dir-rtl .course-content ul.qmulctopics li.section .right span.cps_centre {
    font-size: 14px;
}

/* -- Toggle text -- */
.course-content ul.qmulctopics li.section .content .toggle span.the_toggle, .course-content ul.qmulctopics li.section .content.sectionhidden {
    text-decoration: none;
    font-weight: bold;
}

.course-content ul.qmulctopics li.section .content .toggledsection {
    min-height: 30px;
}

/* MDL-42634 */
.course-content ul.qmulctopics li.section.hidden .sectionname,
.course-content ul.qmulctopics li.section.hidden .content>div,
.course-content ul.qmulctopics li.section.hidden .activity .activityinstance {
    opacity: inherit;
}

.course-content ul.qmulctopics li.section.hidden h3.section-title,
.course-content ul.qmulctopics li.section.hidden .content .summary {
    opacity: 0.5;
}

/* Section name editing. */
.editing .course-content ul.qmulctopics li.section .content .toggle span.quickediticon img,
.editing .course-content ul.qmulctopics li.section .content.hidden span.quickediticon img {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
}
.editing .course-content ul.qmulctopics li.section .content .toggle span.quickediticon img {
    opacity: .8;
}

.editing .course-content ul.qmulctopics li.section.hidden .content .toggle span.quickediticon img {
    opacity: 1;
}

/* M3.1 */
.course-content ul.qmulctopics li.section.hidden .sectionname > span {
    opacity: .7;
}

.course-content ul.qmulctopics li.section.hidden .sectionname {
    font-style: italic;
}

/* Print styles. */
@media print {
    body.jsenabled .toggledsection {
        display: block; /* If JavaScript is enabled and we are printing then this css will apply and the section will be shown. */
    }
    body.jsenabled #toggle-all, body.jsenabled #qmultc-display-instructions, .cttoggle {
        display: none;
    }
    .course-content ul.qmulctopics li.section.main {
        float: left;
    }
    body.format-qmultc .course-content ul.qmulctopics li.section.main {
        padding-bottom: 0;
    }
    ul.qmulctopics {
        page-break-before: avoid;
        page-break-after: avoid;
    }
}


