{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Course module chooser.
}}
{{#discussions}}
    <div class="head clearfix">
        <div class="news-content">
            <div><h5 class="text-primary"><b>{{{subject}}}</b></h5></div>
            <div>{{{displaymessage}}}</div>
        </div>
        <div class="link d-inline-block">
            <a class="btn btn-sm btn-primary" href="{{discussionlink}}">{{#str}}readfullpost, format_qmultopics{{/str}}</a>
        </div>
        <div class="info d-inline-block">
            <span class="name">{{fullname}}</span> |
            <span class="date">{{date}}</span>
        </div>
        {{#morenewslink}}
            <a href="{{morenewslink}}" class="btn btn-sm btn-primary morenews-btn float-md-right ml-0 ml-sm-auto mr-0">
                {{#str}}morenews, format_qmultopics{{/str}}
            </a>
        {{/morenewslink}}
    </div>
{{/discussions}}
{{^discussions}}
<p>{{#str}}nonews, forum{{/str}}</p>
{{/discussions}}